
 <footer class="page-footer  card  light-blue darken-2">
          <div class="container ">
            <div class="row">
              <div class="col l6 s12">
                <p class="grey-text text-lighten-4">Feel free to contact me about any of my projects</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Social media</h5>
                <ul>
                      {% if site.github_username %}
                  <li><img src="imgs/github-6-16.png" alt="Github"><a class="amber-text text-lighten-1" href="https://github.com/{{ site.github_username }}"><span class="username">{{ site.github_username }}</span></a></li>
                    {% endif %}
                     {% if site.twitter_username %}
                  <li><img src="imgs/white-twitter-16.png" alt="Twitter"><a class="amber-text text-lighten-1" href="https://twitter.com/{{ site.twitter_username }}"><span class="username">@{{ site.twitter_username }}</span></a></li>
                    {% endif %}
                 <li><a class="amber-text text-lighten-1" href="https://github.com/polymorphic92?tab=repositories">Projects</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            </div>
          </div>
        </footer>
