<nav class="light-blue darken-2 ">
    <div class="nav-wrapper">
<!--      <a class=" amber-text text-lighten-1"href="#" class="brand-logo">Kyle Braham</a>-->
      <a class=" amber-text text-lighten-1"href="http://polymorphic92.github.io/" class="brand-logo">Kyle Braham</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a  class=" amber-text text-lighten-1"href="project.html">Projects</a></li>
        <li><a  class=" amber-text text-lighten-1" href="experince.html">Experince</a></li>
      </ul>
    </div>
  </nav>